<ul class="list-unstyled">
  <% @posts.each do |post| %>
  <li class="media">
    <!--ビデオタグ　モデル　カラム　文字以外を文字にする　-->
    <%= video_tag post.video.to_s, :size => "1000x1000" , loop: true, autoplay: true ,muted: true%>
    <div class="media-body">
      <h6 class="mt-0 mb-1">[タイトル]<br></h6>
      <%= post.title %>
      <h6 class="mt-0 mb-1">[github_url]<br></h6>
      <div class="link">
　　　<%= text_url_to_link(h(post.github_url)).html_safe %>
　　　</div>
      <h6 class="mt-0 mb-1">[heroku_url]<br></h6>
      <%= post.heroku_url %>
      <h6 class="mt-0 mb-1">[アプリ説明]<br></h6>
      <%= simple_format(post.body) %>
      <%= link_to "編集",  edit_post_path(post) %>
      <%= link_to "削除", post, method: :delete, data: { confirm: "#{post.title}を削除して大丈夫ですか？" } %>
    </div>
   
  </li>
  <% end %>
</ul>

